<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ judul }}</title>
    <style>
        td, th {border: 1px solid #dddddd; text-align: left; padding: 8px;}
    </style>
</head>
<body>
    <h1>{{ judul }}</h1>
    <p>Selamat datang di {{ pageName }} dengan kontributor {{ kontributor }}</p>
    <p>Daftar Mahasiswa</p>
    <table>
        <tr>
            <th>NIM</th>
            <th>Nama Mahasiswa</th>
            <th>Program Studi</th>
        </tr>
        {% for mhs in mahasiswas %}
        <tr>
            <td>{{ mhs.nim }}</td>
            <td>{{ mhs.nama }}</td>
            <td>{{ mhs.ps }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="/">Kembali ke home</a></p>
</body>
</html>